<?xml version="1.0"?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.PointOfService" publicKeyToken="31bf3856ad364e35" />
            <codeBase version="1.14.1.0" href="..\..\Microsoft.PointOfService.dll"/>
         </dependentAssembly>
		 <dependentAssembly>
            <assemblyIdentity name="Microsoft.PointOfService.ControlBase" publicKeyToken="31bf3856ad364e35" />
            <codeBase version="1.14.1.0" href="..\..\Microsoft.PointOfService.ControlBase.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>